<li>
	<%= f.fields_for :ingredient do |builder| %>
		<%= builder.label :name %>
		<%= builder.text_field :name, :class => "ingredient_field" %>
	<% end %>
	<%= f.label :quantity %>
	<%= f.text_field :quantity, :class => "ingredient_quantity" %>
	<%= f.label :unit %>
	<%= f.text_field :unit, :class => "ingredient_unit" %>
	<%= f.hidden_field :_destroy, :class => "delete_ingredient" %>
	<%= link_to "Remove", "#", :class => "remove_fields" %>
</li>