<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- user_id will be removed from this form when user sessions are implemented-->
  <!-- <div class="field">
    <%= f.label :user_id, "User ID:" %><br />
    <%= f.text_field :user_id %>
  <div> -->
  <div class="field">
    <%= f.label :name, "Name (What are you making?):" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :autolyse %><br />
	<%= f.label :autolyse, "Yes", :value => "true"  %>
    <%= f.radio_button :autolyse, true %>
	<%= f.label :autolyse, "No", :value => "false" %>
	<%= f.radio_button :autolyse, false, :checked => true %>
  </div>
  <div class="field">
    <%= f.label :pre_ferment, "Pre-ferment" %><br />
	<%= label :pre_ferment, "Yes" %>
    <%= f.radio_button :pre_ferment, true %>
	<%= label :pre_ferment, "No" %>
	<%= f.radio_button :pre_ferment, false, :checked => true %>
  </div>

  <div id="ingredients">
	  <p>Ingredient List:</p>
	  <ul id="ingredient_list">
		  <%= f.fields_for :entry_ingredients do |builder| %>
		  <%= render 'entry_ingredient_fields', :f => builder %>
		  <% end %>
	  </ul>
  </div>
  <div id='add_ingredient'>Add Ingredient</div>
  <div id='steps'>
	  <p>Steps:</p>
	  <ol id='step_list'>
		  <%= f.fields_for :steps do |builder| %>
		  <li>
			  <%= builder.text_area :description, :cols => 80, :rows => 5, :class => "step_field" %>
			  <%= builder.hidden_field :_destroy, :class => "delete_step" %>
			  <%= link_to "Remove", "#", :class => "remove_fields" %>
		  </li>
		  <% end %>
	  </ol>
  </div>
  <div id='add_step'>Add Step</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>